:root {
  --paper-light: hsl(230, 89%, 65%);
  --paper-dark: hsl(230, 89%, 62%);
  --scissors-light: hsl(40, 84%, 53%);
  --scissors-dark: hsl(39, 89%, 49%);
  --rock-light: hsl(349, 70%, 56%);
  --rock-dark: hsl(349, 71%, 52%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --bg-1: hsl(214, 47%, 23%);
  --bg-2: hsl(237, 49%, 15%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Barlow Semi Condensed';
  background: radial-gradient(var(--bg-1), var(--bg-2));
}

body, .rps {
  min-height: 100vh;
}

.rps {
  max-width: 590px;
  margin: 0 auto;
  padding: 1.2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content max-content 100px;
}

.rps__header {
  border: solid 5px var(--header-outline);
  border-radius: 10px;
  height: 130px;
  grid-row: 1;
}

.rps__header__container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.rps__logo {
  height: 60px;
  padding-left: 0.625em;
}

.rps__score {
  font-size: 3em;
  background-color: white;
  border-radius: 5px;
  color: var(--dark-text);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  letter-spacing: 1px;
}

.rps__score::before {
  content: "SCORE";
  color: var(--score-text);
  font-size: 0.875rem;
}

.rps__game {
  grid-row: 2;
}

.hand-group {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.rps__playableHands {
  background: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  justify-content: center;
}

.hand {
  position: relative;
  padding: 30px;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 15px;
  width: 140px;
  height: 140px;
}

.rps__playableHands .hand:nth-child(1) {
  top: -80px;
  left: 50px;
}

.rps__playableHands .hand:nth-child(2) {
  top: 80px;
}

.rps__playableHands .hand:nth-child(3) {
  top: -80px;
  right: 50px;
}

.paper {
  border-color: var(--paper-light);
}

.paper::after {
  content: url("../img/icon-paper.svg");
}

.rock {
  border-color: var(--rock-light);
}

.rock::after {
  content: url("../img/icon-rock.svg");
}

.scissors {
  border-color: var(--scissors-light);
}

.scissors::after {
  content: url("../img/icon-scissors.svg");
}

.rps__playedHands {
  justify-content: space-between;
}

.played-hand {
  position: relative;
  margin-top: 80px;
  display: flex;
  /* changes to column-reverse on desktop */
  flex-direction: column;
}

.rps__pickedText {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.rps__result {
  margin-top: 80px;
}

.rps__result__text {
  color: white;
  font-size: 3em;
  margin-bottom: 0.4em;
}

#rps_playAgain {
  width: 200px;
  height: 50px;
  color: var(--dark-text);
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}

.rps__rules {
  height: 100px;
  grid-row: 3;
  letter-spacing: 0.1em;
}

#rps__rules__button {
  border: solid 2px var(--header-outline);
  border-radius: 10px;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.selectable {
  cursor: pointer;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
